body {
    background-color: rgb(159, 201, 210);
    color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main {
    max-width: 600px;
    background-color: rgb(217, 183, 237);
    padding: 20px;
    margin: 5vw;
  }
/*ffdd*/  